{
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 100,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "jsxBracketSameLine": true,
    "tabWidth": 4,
    "semi": false
}
