<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333985058324-5no6f04hsv9h71pk1noic4fk45h9rps5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333985058324-5no6f04hsv9h71pk1noic4fk45h9rps5</string>
	<key>API_KEY</key>
	<string>AIzaSyDD1ppzdpOcPuivWUBknqmL3Zvn_ahXmj4</string>
	<key>GCM_SENDER_ID</key>
	<string>333985058324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riseapps.baseproject</string>
	<key>PROJECT_ID</key>
	<string>riseapps-6fc78</string>
	<key>STORAGE_BUCKET</key>
	<string>riseapps-6fc78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333985058324:ios:dcf084a319119880266101</string>
	<key>DATABASE_URL</key>
	<string>https://riseapps-6fc78.firebaseio.com</string>
</dict>
</plist>